body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 828px) {
  img {
    width: 100%;
    margin-top: 0;
    }
  }

h1 {
  margin-top: 0;
}

div {
  height: 1000px;
  margin: auto;
  text-align: center;
}

img {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.header {
  background: linear-gradient(#f8b595,#f67280);
}

.section1 {
  background: linear-gradient(#f67280,#c06c84);
  font-family: "Helvetica";
}

.section2 {
  background: linear-gradient(#c06c84,#8675a9);
}

.section3 {
  background: linear-gradient(#8675a9,#150485);
}

.section4 {
  background: linear-gradient(#150485,#7579e7);
}

.section5 {
  background: linear-gradient(#7579e7,#9ab3f5);
}

.section6 {
  background: linear-gradient(#9ab3f5,#a3d8f4);
}

.section7 {
  background: linear-gradient(#a3d8f4,#b9fffc);
}

.section8 {
  background: linear-gradient(#b9fffc,#ffffff);
}

.section9 {
  background: #ffffff;
}
